<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2ad85c62-a94a-41a6-b215-4b8fada59aa0/resourcegroups/DDAC2/providers/Microsoft.Web/sites/DDAC2</ResourceId>
    <ResourceGroup>DDAC2</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ddac2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ddac2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DDAC2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DDAC2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Maersk_LineContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:djdatabase.database.windows.net,1433;Initial Catalog=MaerskDDAC;Persist Security Info=False;User ID=daya1214;Password=Dayallen1214;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Maersk_Line.Models.Maersk_LineContext, Maersk_Line" MigrationConfiguration="Maersk_Line.Migrations.Configuration, Maersk_Line" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:djdatabase.database.windows.net,1433;Initial Catalog=MaerskDDAC;Persist Security Info=False;User ID=daya1214;Password=Dayallen1214;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>