
@{
    ViewBag.Message = "";
}
<br />
<div style="width:1000px; margin:0 auto;text-align:left">
    <img alt="MaerskLine" src="@Url.Content("http://www.maersklinelimited.com/wp-content/themes/maerskline/img/logo.png")">
   
</div>
<br />
<div class="jumbotron">
    @*<h1>@ViewBag.Message.</h1>*@
    <p class="lead" style="text-align:justify;">Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.</p>
</div>

@{
    ViewBag.Title = "About";
}
<div>
        <h2>Contact Us</h2>
</div>
<address>
    SEATTLE WA 98104<br />
    <abbr title="Phone">Call Us At:</abbr>
    +1-541-754-3010
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:maerskSupport@mail.com">maerskSupport@mail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:maerskMarketing@mail.com">maersk@mail.com</a>
</address>


