
@{
    ViewBag.Message = "SouthEast Asia Shipping Company";
}
<br/>
<div style="width:1000px; margin:0 auto;text-align:left">
    <img alt="MaerskLine" src="@Url.Content("http://www.maersklinelimited.com/wp-content/themes/maerskline/img/logo.png")">

</div>
<br />
<div class="jumbotron";style="text-align:center">
    <h1> @ViewBag.Message</h1>
    <p class="lead" style="text-align:justify;">We are proud to be the largest employer of deep sea U.S. Merchant Mariners.</p>
</div>

@*<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" src="@Url.Content("http://3kbo302xo3lg2i1rj8450xje.wpengine.netdna-cdn.com/wp-content/uploads/2014/01/Maersk-Triple-E-Lego-Set.png")">

</div>*@

<img src="http://www.maersklinelimited.com/wp-content/uploads/2015/05/slide5.jpg" draggable="false" style="align-items:inherit;">

