@{
    ViewBag.Title = "";
}
<br />
<div style="width:1000px; margin:0 auto;text-align:left">
    <img alt="MaerskLine" src="@Url.Content("http://www.maersklinelimited.com/wp-content/themes/maerskline/img/logo.png")">

</div>
<br />
<div class="jumbotron">
    @*<h1>@ViewBag.Title.</h1>*@
    <p class="lead" style="text-align:justify;">Maersk Line, Limited (MLL) supports military, government and humanitarian missions through the transport of cargo on its container, tanker and multi-purpose ships. We also offer roll-on/ roll-off vessels through our affiliate Farrell Lines. Our customers rely on our unparalleled experience, maritime expertise and global intermodal capability to ensure safe, on-time delivery of their cargoes.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Booking Shipments&nbsp;&raquo; <a class="btn btn-primary" href="~/Bookings/Index">Booking Shipments</a></h2>
        <p>
            *Register new booking shipments for exporting and importing goods.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Container Registration&nbsp;&raquo; <a class="btn btn-primary" href="~/Containers/Index">Container Registration</a></h2>
        <p>*Register new containers to handle import and export goods of the shipments.</p>
    </div>
    <div class="col-md-6">
        <h2>Shipments Registration&nbsp;&raquo; <a class="btn btn-primary" href="~/Ships/Index">Shipments Registration</a></h2>
        <p>*Register new ships to for importing and exporting goods.</p>
    </div>
    <div class="col-md-6">
        <h2>Warehouse Registration&nbsp;&raquo; <a class="btn btn-primary" href="~/Warehouses/Index">Warehouse Registration</a></h2>
        <p>*Register new warehouse to store the goods from imports and exports.</p>
    </div>
    <div class="col-md-11">
        <h2>Shipment Yard Registration&nbsp;&raquo; <a class="btn btn-primary" href="~/ShipYards/Index">Shipment Yard Registration</a></h2>
        <p>*Register new shipments yard for settling the ships at the yard.</p>
    </div>
    @*<div class="col-md-4">
        <h2>Employees Registration</h2>
        <p>To register a new Employee to handle import, export and transshipment processing to gate operations</p>
        <p><a class="btn btn-default" href="~/Employees/Index" > New Employee &raquo;</a></p>
    </div>*@
    </div>


<!--href="https://go.microsoft.com/fwlink/?LinkId=301866"-->